In [1]:
import pickle

import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

from module.pipeline import test_eval
from module.features import pipe_1, pipe_2, pipe_3, pipe_4, pipe_5, pipe_6, pipe_7,\
                     pipe_8, pipe_9, pipe_10, pipe_11, pipe_12, pipe_13, pipe_14,\
                     pipe_15

### データセットの用意

In [2]:
data = pd.read_csv('./data/test.csv')
#data = pd.read_csv('./data/train.csv')
df = data.iloc[:, :-1]
y = data.iloc[:, -1]

### パイプライン候補の準備

### データセットの作成

In [3]:
to_pipe ={
            'df': df,
            'split_kwrg': {'to_array': True},
            'train_flg': False,
            'retrain': False,
            }

# 特徴量候補を設定
pipe_lines = [
            pipe_1,  # base 
            # pipe_2,  # StSlopeCat
            # pipe_3,  # CholsetMean
            # pipe_4,  # AgeCat
            # pipe_5,  # StSlopeCat CholetMean AgeCat
            # pipe_6,  # RestingBpCat
            # pipe_7,  # OldPeakCat
            # pipe_8,  # RestingBpCat OldPeakCat
            pipe_9,  # Onehot
            pipe_10,  # CholestMean AgeCat Onehot
            pipe_11,  # CholCut
            pipe_12,  # CholCut Onehot,
            pipe_13,  # DropByShap
            pipe_14,  # CholCatDropBy,
            pipe_15  # CholRegression
            ]
data_set = {pipe.__name__: pipe(**to_pipe) for pipe in pipe_lines}

                                Base(pipe_1)

   Age  Sex  RestingBP  Cholesterol  FastingBS  MaxHR  ExerciseAngina  Oldpeak
0   66    1        120          302          0    151               0      0.4
1   48    1        102            0          1    110               1      1.0
2   52    1        134          201          0    158               0      0.8
3   61    1        134            0          1     86               0      1.5
4   48    0        120          254          0    110               0      0.0

                               Onehot(pipe_9)

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,66,1,120,302,0,151,0,0.4,1,0,0,0,1,0,0,0,1,0
1,48,1,102,0,1,110,1,1.0,0,0,1,0,0,0,1,1,0,0
2,52,1,134,201,0,158,0,0.8,0,1,0,0,0,1,0,0,0,1
3,61,1,134,0,1,86,0,1.5,1,0,0,0,0,0,1,0,1,0
4,48,0,120,254,0,110,0,0.0,1,0,0,0,0,0,1,0,0,1

                     CholestMean AgeCat Onehot(pipe_10)

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,4,1,120,302.000000,0,151,0,0.4,1,0,0,0,1,0,0,0,1,0
1,2,1,102,247.427313,1,110,1,1.0,0,0,1,0,0,0,1,1,0,0
2,3,1,134,201.000000,0,158,0,0.8,0,1,0,0,0,1,0,0,0,1
3,4,1,134,247.427313,1,86,0,1.5,1,0,0,0,0,0,1,0,1,0
4,2,0,120,254.000000,0,110,0,0.0,1,0,0,0,0,0,1,0,0,1

                              CholCut(pipe_11)

   Age  Sex  RestingBP  Cholesterol  FastingBS  MaxHR  ExerciseAngina  Oldpeak
0   66    1        120          302          0    151               0      0.4
1   48    1        102            0          1    110               1      1.0
2   52    1        134          201          0    158               0      0.8
3   61    1        134            0          1     86               0      1.5
4   48    0        120          254          0    110               0      0.0

                          CholCut Onehot(pipe_12)

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,66,1,120,302,0,151,0,0.4,1,0,0,0,1,0,0,0,1,0
1,48,1,102,0,1,110,1,1.0,0,0,1,0,0,0,1,1,0,0
2,52,1,134,201,0,158,0,0.8,0,1,0,0,0,1,0,0,0,1
3,61,1,134,0,1,86,0,1.5,1,0,0,0,0,0,1,0,1,0
4,48,0,120,254,0,110,0,0.0,1,0,0,0,0,0,1,0,0,1

                            DropByShap(pipe_13)

,Age,Sex,Cholesterol,FastingBS,MaxHR,Oldpeak,ChestPainType_ASY,ST_Slope_Flat,ST_Slope_Up
0,66,1,302,0,151,0.4,1,1,0
1,48,1,0,1,110,1.0,0,0,0
2,52,1,201,0,158,0.8,0,0,1
3,61,1,0,1,86,1.5,1,1,0
4,48,0,254,0,110,0.0,1,0,1

                        CholCut DropByShap(pipe_14)

,Age,Sex,Cholesterol,FastingBS,MaxHR,Oldpeak,ChestPainType_ASY,ST_Slope_Flat,ST_Slope_Up
0,66,1,302,0,151,0.4,1,1,0
1,48,1,0,1,110,1.0,0,0,0
2,52,1,201,0,158,0.8,0,0,1
3,61,1,0,1,86,1.5,1,1,0
4,48,0,254,0,110,0.0,1,0,1

                          Chol Regression(pipe_15)

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,66,1,120,302,0,151,0,0.4,1,0,0,0,1,0,0,0,1,0
1,48,1,102,215,1,110,1,1.0,0,0,1,0,0,0,1,1,0,0
2,52,1,134,201,0,158,0,0.8,0,1,0,0,0,1,0,0,0,1
3,61,1,134,241,1,86,0,1.5,1,0,0,0,0,0,1,0,1,0
4,48,0,120,254,0,110,0,0.0,1,0,0,0,0,0,1,0,0,1

### モデルのロード

In [4]:
file_name = 'retrained_models'
#file_name = 'models'
with open(f'./data/{file_name}.pkl', 'rb') as f:
    train_models = pickle.load(f)

### モデルの評価と選定

In [5]:
with open(f'./data/{file_name}.pkl', 'rb') as f:
    train_models = pickle.load(f)
evaluations = test_eval(train_models, pipe_lines, data_set, y)

In [6]:
evaluations

         XGBClassifier  DecisionTreeClassifier       SVC  KNeighborsClassifier
pipe_1        0.778986                0.797101  0.829710              0.807971
pipe_9        0.847826                0.811594  0.836957              0.833333
pipe_10       0.829710                0.822464  0.833333              0.829710
pipe_11       0.778986                0.775362  0.786232              0.782609
pipe_12       0.826087                0.804348  0.822464              0.789855
pipe_13       0.833333                0.822464  0.847826              0.836957
pipe_14       0.818841                0.833333  0.815217              0.811594
pipe_15       0.851449                0.815217  0.833333              0.826087

In [7]:
xgb_eval = evaluations.sort_values(XGBClassifier.__name__, ascending=False)
tree_eval = evaluations.sort_values(DecisionTreeClassifier.__name__, ascending=False)
svc_eval = evaluations.sort_values(SVC.__name__, ascending=False)
kn_eval = evaluations.sort_values(KNeighborsClassifier.__name__, ascending=False)
display(xgb_eval, tree_eval, svc_eval, kn_eval)

         XGBClassifier  DecisionTreeClassifier       SVC  KNeighborsClassifier
pipe_15       0.851449                0.815217  0.833333              0.826087
pipe_9        0.847826                0.811594  0.836957              0.833333
pipe_13       0.833333                0.822464  0.847826              0.836957
pipe_10       0.829710                0.822464  0.833333              0.829710
pipe_12       0.826087                0.804348  0.822464              0.789855
pipe_14       0.818841                0.833333  0.815217              0.811594
pipe_1        0.778986                0.797101  0.829710              0.807971
pipe_11       0.778986                0.775362  0.786232              0.782609

         XGBClassifier  DecisionTreeClassifier       SVC  KNeighborsClassifier
pipe_14       0.818841                0.833333  0.815217              0.811594
pipe_10       0.829710                0.822464  0.833333              0.829710
pipe_13       0.833333                0.822464  0.847826              0.836957
pipe_15       0.851449                0.815217  0.833333              0.826087
pipe_9        0.847826                0.811594  0.836957              0.833333
pipe_12       0.826087                0.804348  0.822464              0.789855
pipe_1        0.778986                0.797101  0.829710              0.807971
pipe_11       0.778986                0.775362  0.786232              0.782609

         XGBClassifier  DecisionTreeClassifier       SVC  KNeighborsClassifier
pipe_13       0.833333                0.822464  0.847826              0.836957
pipe_9        0.847826                0.811594  0.836957              0.833333
pipe_10       0.829710                0.822464  0.833333              0.829710
pipe_15       0.851449                0.815217  0.833333              0.826087
pipe_1        0.778986                0.797101  0.829710              0.807971
pipe_12       0.826087                0.804348  0.822464              0.789855
pipe_14       0.818841                0.833333  0.815217              0.811594
pipe_11       0.778986                0.775362  0.786232              0.782609

         XGBClassifier  DecisionTreeClassifier       SVC  KNeighborsClassifier
pipe_13       0.833333                0.822464  0.847826              0.836957
pipe_9        0.847826                0.811594  0.836957              0.833333
pipe_10       0.829710                0.822464  0.833333              0.829710
pipe_15       0.851449                0.815217  0.833333              0.826087
pipe_14       0.818841                0.833333  0.815217              0.811594
pipe_1        0.778986                0.797101  0.829710              0.807971
pipe_12       0.826087                0.804348  0.822464              0.789855
pipe_11       0.778986                0.775362  0.786232              0.782609

## Ensemble出力

In [8]:
def ensemble(train_models, data_set, model, pipes, y):
    models = [train_models[model][pipe] for pipe in pipes]
    pred = sum([model_.predict_proba(data_set[pipe_]) for model_, pipe_ in zip(models, pipes)])
    ensemble_pred = np.where(pred[:, 0] > pred[:, 1], 0, 1)
    print(accuracy_score(y.values, ensemble_pred))
    return pred

def ensembles(preds, y):
    ensembles = sum(preds)
    ensemble_pred = np.where(ensembles[:, 0] > ensembles[:, 1], 0, 1)
    print(accuracy_score(y, ensemble_pred))
    return ensembles

In [9]:
tops = 2
pipes = xgb_eval.index[:tops]
model = XGBClassifier.__name__
print(model.center(50,'-'))
print(pipes)
xgb_pred = ensemble(train_models, data_set, model, pipes, y)

pipes = tree_eval.index[:tops]
model = DecisionTreeClassifier.__name__
print(model.center(50,'-'))
print(pipes)
tree_pred = ensemble(train_models, data_set, model, pipes, y)

pipes = svc_eval.index[:tops]
model = SVC.__name__
print(model.center(50,'-'))
print(pipes)
svc_pred = ensemble(train_models, data_set, model, pipes, y)

pipes = kn_eval.index[:tops]
model = KNeighborsClassifier.__name__
print(model.center(50,'-'))
print(pipes)
kn_pred = ensemble(train_models, data_set, model, pipes, y)

preds = [
         xgb_pred,
         #tree_pred,
         svc_pred,
         kn_pred,
        ]
print(" ensembles ".center(50, '-'))
pred = ensembles(preds, y)

------------------XGBClassifier-------------------
Index(['pipe_15', 'pipe_9'], dtype='object')
0.8478260869565217
--------------DecisionTreeClassifier--------------
Index(['pipe_14', 'pipe_10'], dtype='object')
0.8333333333333334
-----------------------SVC------------------------
Index(['pipe_13', 'pipe_9'], dtype='object')
0.8586956521739131
---------------KNeighborsClassifier---------------
Index(['pipe_13', 'pipe_9'], dtype='object')
0.8478260869565217
------------------- ensembles --------------------
0.8695652173913043