In [10]:
import pickle

import pandas as pd

from module.mymodule import train_or_test, test_eval
from features import pipe_1, pipe_2, pipe_3, pipe_4, pipe_5, pipe_6, pipe_7,\
                     pipe_8

ImportError: cannot import name 'pipe_6' from 'features' (/Users/lino/Desktop/exercises/features.py)

### データセットの用意

In [2]:
data = pd.read_csv('./data/train.csv')
df = data.iloc[:, :-1]
y = data.iloc[:, -1]

### パイプライン候補の準備

### データセットの作成

In [4]:
to_pipe ={
            'df': df,
            'split_kwrg': {},
            'train_flg': False,
            'retrain': False,
            }

pipe_lines = [
            pipe_1,
            #pipe_2,
            #pipe_3,
            pipe_4,
            pipe_5,
            ]  # 特徴量候補を設定
data_set = {pipe.__name__: pipe(**to_pipe) for pipe in pipe_lines}

                                    Base

   Age  Sex  RestingBP  Cholesterol  FastingBS  MaxHR  ExerciseAngina  Oldpeak
0   56    1        155          342          1    150               1      3.0
1   55    0        130          394          0    150               0      0.0
2   47    1        110            0          1    120               1      0.0

                              AgeCAt Standard

   Age  Sex  RestingBP  Cholesterol  FastingBS  MaxHR  ExerciseAngina  Oldpeak
0    3    1        155          342          1    150               1      3.0
1    3    0        130          394          0    150               0      0.0
2    2    1        110            0          1    120               1      0.0

                   StSlpoeCat CholestMean AgeCAt Standard

   Age  Sex  RestingBP  Cholesterol  FastingBS  MaxHR  ExerciseAngina  Oldpeak
0    3    1        155   342.000000          1    150               1      3.0
1    3    0        130   394.000000          0    150               0      0.0
2    2    1        110   243.414258          1    120               1      0.0

### モデルのロード

In [5]:
with open('./data/retrained_model.pkl', 'rb') as f:
    train_models = pickle.load(f)

### モデルの評価と選定

In [7]:
evaluations = test_eval(train_models, pipe_lines, data_set, y)
evaluations.sort_values('XGBClassifier', ascending=False)

        XGBClassifier
pipe_5       0.985981
pipe_1       0.858255
pipe_4       0.853583